<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Java 8 Runnable Lambda Example with Argument/src/com/sree/runnable/Java8RunnableDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.sree.runnable.Java8RunnableDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Java 8 Runnable Lambda Example with Argument"/>
</launchConfiguration>
