<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Convert List to another List using Stream map()/src/com/sree/ListToAnotherList.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.sree.ListToAnotherList"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Convert List to another List using Stream map()"/>
</launchConfiguration>
