<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Reduce List and Array into Sum/src/com/sree/ReduceToSum.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.sree.ReduceToSum"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Reduce List and Array into Sum"/>
</launchConfiguration>
